.text-blue-1 {
    color: #2C3E50;
}
.text-blue-2 {
    color: #2980B9;
}
.text-blue-3 {
    color: #6CA0DC;
}
.text-blue-4 {
    color: #ECF0F1;
}

.text-cream-1 {
    color: #D35400;
}
.text-cream-2 {
    color: #E67E22;
}
.text-cream-3 {
    color: #F5B895;
}
.text-cream-4 {
    color: #FDEBD0;
}

.bg-blue-1 {
    background-color: #2C3E50;
}
.bg-blue-2 {
    background-color: #2980B9;
}
.bg-blue-3 {
    background-color: #6CA0DC;
}
.bg-blue-4 {
    background-color: #ECF0F1;
}

.bg-cream-1 {
    background-color: #D35400;
}
.bg-cream-2 {
    background-color: #E67E22;
}
.bg-cream-3 {
    background-color: #F5B895;
}
.bg-cream-4 {
    background-color: #FDEBD0;
}

.border-blue-1 {
    border-color: #2C3E50;
}
.border-blue-2 {
    border-color: #2980B9;
}
.border-blue-3 {
    border-color: #6CA0DC;
}
.border-blue-4 {
    border-color: #ECF0F1;
}

.border-cream-1 {
    border-color: #D35400;
}
.border-cream-2 {
    border-color: #E67E22;
}
.border-cream-3 {
    border-color: #F5B895;
}
.border-cream-4 {
    border-color: #FDEBD0;
}